@tailwind base;
@tailwind components;
@tailwind utilities;

  .notif-enter {
    opacity: 0;
  }
  .notif-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .notif-exit {
    opacity: 1;
  }
  .notif-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
